@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

.banner {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  .bannerImage {
    width: 100%;
    height: auto;
    display: block;
  }

  .bannerImageDegrade {
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
    pointer-events: none;
  }

  .bannerContent {
    position: absolute; 
    z-index: 2;
    text-align: left;
    padding: 20px;
    color: #fff;
  left: 5rem; 
  top: 2%; 
  

    h2 {
      font-size: 3rem;
      margin-bottom: 10px;
      font-family: 'poppins';
      font-weight: 600;
      line-height: 3.12rem;
      color: #fff;
    }

    p {
      font-family: 'poppins';
      font-weight: 400;
      font-size: 2rem;
    }

    .bannerSpan{
        font-family: 'poppins';
        font-weight: 700;
        font-size: 2rem;
        color: #F7CA11;
    }
  }
  .bannerButton {
    background-color: #F7CA11;
    color: #271C47;
    padding: 7px 49px 7px 49px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'poppins';
    font-weight: 600;
    font-size: 1rem;
    transition: background-color 0.3s;

    &:hover {
      background-color: #250f8b;
      color:#F7CA11;
    }
  }
}