
.header
    
.container-header
    width: 1265px
    height: 20px
    background-color: #FFFFFF
    display: flex
    justify-content: center
    gap: 119px
    padding: 12px 0 12px 0
    

.meu-componente
  
  background-color: #FFFFFF
  display: flex
  align-items: center
   
  p 
    color: #9F9F9F
    font: 'Poppins'
    font-size: 12px
    font-weight: 500

    span
        color: #3019B2
        font: 'Poppins'
        font-size: 12px
        font-weight: 600
  

.container-busca
    background-color: #FFFFFF
    display: flex
    padding-bottom: 20px
    gap: 20px
    align-items: center
    flex-direction: column

.principal
    display: flex
    justify-content: space-around
    marging:0px 20px 0px 20px
    width: 100%
.containder-principal
    position: relative


    
    

input
    background: #F6F5F2
    color:#9F9F9F
    padding: 12px 12px 12px 12px
    border: none
    border-radius: 10px
    width: 300px
    font: 'Poppins'
    font-size: 14px
    font-weight: 500
    

.search-button
    position: absolute
    right: 2%
    top: 50%
    transform: translateY(-50%) 
    background-color: transparent 

    img
        width: 20px
        height: 20px
        cursor: pointer
    

        
.container-icons
    display: flex
    gap: 20px
    padding: 12px 0 12px 0

    img
        width: 20px
        height: 20px
        cursor: pointer

.container-busca
    display: flex

       
.container-categorias
    display: flex
    gap: 20px
    



    img
        width: 20px
        height: 20px
        cursor: pointer
        
a 
    color:#9F9F9F
    font: 'Poppins'
    font-size: 12px
    font-weight: 600

.container-assinatura
    display: flex
    align-content: center
    gap: 20px